{% extends 'head.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col" style="text-align:center;"><h4>Login Form</h4></div>
            <div class="col"></div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-2"></div>
            <div class="col" style="text-align:center;">
                {% if status == 0 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Wrong!</strong> Account or Password incorrect!Please Login again!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <h1><b>Login</b></h1>
            </div>
            <div class="col-2"></div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <form method="post" action="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Account</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="account">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="password">
                        </div>

                        <div class="form-check ml-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <hr/>



                        <input type="submit" class="btn btn-outline-secondary" value="Login"/>
                        <a href="{{ url_for('register') }}" class="btn btn-outline-secondary float-right" role="button"
                           aria-pressed="true">Register</a>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

{% endblock %}