{% extends 'head.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col" style="text-align:center;"><h4>Login Form</h4></div>
            <div class="col"></div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-2"></div>
            <div class="col" style="text-align:center;">
                {% if status == 1 %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Warning!</strong> The name has already existed!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif status == 2 %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Warning!</strong> The account has already existed!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif status == 3 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Wrong!</strong> Passwords doesn't match!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif status == 4 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Wrong!</strong> Something empty in the tables!!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                 {% elif status == 5 %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Click <a href="{{ url_for('login') }}" class="alert-link">HERE</a>to login.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                <h1><b>Register</b></h1>
            </div>
            <div class="col-2"></div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <form method="post" action="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="name">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="account">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="password">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">repasswd</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="repassword">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default" name="address">
                        </div>


                        <hr/>

                        <input type="submit" class="btn btn-outline-secondary btn-block" value="Confirm"/>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}