{% extends 'head.html' %}

{% block content %}
    <div class="container" style="margin-top: 80px">
        {% if status %}
            <div class="alert alert-{{ color| default('warning') }} alert-dismissible fade show" role="alert">
                <strong>{{ alert|default('Bad!') }}</strong> {{ message|default('') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}


        <div class="row">
            <div class="col-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">用户信息</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">密码修改</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">地址修改</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                       aria-controls="v-pills-settings" aria-selected="false">昵称修改</a>
                    {% if admin == 1 %}
                        <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab"
                           aria-controls="v-pills-add" aria-selected="false">添加物品</a>
                        <a class="nav-link" id="v-pills-class-tab" data-toggle="pill" href="#v-pills-class" role="tab"
                           aria-controls="v-pills-class" aria-selected="false">物品分类</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <h1>用户信息</h1>
                        <hr>
                        <div class="card border-secondary" style="max-width: 18rem;">
                            <div class="card-header">ID Card</div>
                            <div class="card-body text-secondary">
                                <h5 class="card-title">Name: {{ user.name }}</h5>
                                <p class="card-text">Account: {{ user.account }}</p>
                                <p class="card-text">Address: {{ user.address }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <h1>密码修改</h1>
                        <hr>
                        <div class="row ml-2">
                            <form method="post" action="" id="1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">原密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default" name="password">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">新密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default" name="password1">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">确认新密码</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default" name="password2">
                                </div>

                                <input type="text" name="way" value="password" class="invisible">

                                <button type="submit" class="btn btn-primary float-right">确认修改</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <h1>地址修改</h1>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <form action="" method="post" id="2">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">新收货地址</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Default"
                                               aria-describedby="inputGroup-sizing-default" name="address">
                                    </div>
                                    <input type="text" name="way" value="address" class="invisible">

                                    <button type="submit" class="btn btn-primary float-right">确认修改</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab">
                        <h1>昵称修改</h1>
                        <hr>
                        <div class="row ml-2">
                            <form method="post" action="" id="3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">原昵称</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default" name="alia">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">新昵称</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default" name="alia1">
                                </div>

                                <input type="text" name="way" value="Alia" class="invisible">
                                <button type="submit" class="btn btn-primary float-right">确认修改</button>
                            </form>
                        </div>
                    </div>

                    <!-- 管理员功能  -->
                    {% if admin == 1 %}
                        <div class="tab-pane fade" id="v-pills-add" role="tabpanel"
                             aria-labelledby="v-pills-add-tab">
                            <h1>物品添加</h1>
                            <hr>
                            <div class="row ml-2">


                                <form id="4" method="post" action="">
                                    <input type="text" name="way" value="add_good" class="invisible">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Good Name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter Good Name" name="good_name">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Good
                                                Description</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3"
                                                      name="good_desc"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Good Price</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter the price" name="good_price">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Picture Url</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter the good's picture url" name="picture_url">
                                    </div>

                                    <button type="submit" class="btn btn-primary">ADD</button>
                                </form>


                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-class" role="tabpanel"
                             aria-labelledby="v-pills-class-tab">
                            <h1>物品分类</h1>

                            <hr>
                            <div class="row ml-2">


                                <form id="5" method="post" action="">
                                    <input type="text" name="way" value="class" class="invisible">

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">选择物品</label>
                                        <select class="form-control" id="exampleFormControlSelect1" name="good_name">
                                            {% for good in all_goods %}
                                                <option value="{{ good.id }}">{{ good.good_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">物品分类</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="请输入分类名称" name="good_class">
                                    </div>

                                    <button type="submit" class="btn btn-primary">ADD</button>
                                </form>


                            </div>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>

{% endblock %}